.vscode
YamangTao.Core/bin
YamangTao.Core/obj
YamangTao.Api/bin
YamangTao.Api/obj
YamangTao.Data/obj
YamangTao.Data/bin
YamangTao.Model/bin
YamangTao.Model/obj
YamangTao.Auth/obj
YamangTao.Authn/bin
YamangTao.Model.Auth/bin/Debug/netstandard2.1/YamangTao.Model.Auth.dll
YamangTao.Model.Auth/bin/Debug/netstandard2.1/YamangTao.Model.dll
YamangTao.Model.Auth/obj/project.assets.json
YamangTao.Model.Auth/obj/YamangTao.Model.Auth.csproj.nuget.dgspec.json
YamangTao.Model.Auth/obj/YamangTao.Model.Auth.csproj.nuget.g.props
YamangTao.Model.Auth/obj/Debug/netstandard2.1/YamangTao.Model.Auth.assets.cache
YamangTao.Model.Auth/obj/Debug/netstandard2.1/YamangTao.Model.Auth.csproj.FileListAbsolute.txt
YamangTao.Model.Auth/obj/Debug/netstandard2.1/YamangTao.Model.Auth.csprojAssemblyReference.cache
YamangTao.Model.Auth/obj/Debug/netstandard2.1/YamangTao.Model.Auth.dll
YamangTao.Model/bin/Debug/netstandard2.1/YamangTao.Model.dll
YamangTao.Model/obj/project.assets.json
YamangTao.Model/obj/YamangTao.Model.csproj.nuget.dgspec.json
YamangTao.Model/obj/YamangTao.Model.csproj.nuget.g.props
YamangTao.Model/obj/Debug/netstandard2.1/YamangTao.Model.csproj.FileListAbsolute.txt
YamangTao.Model/obj/Debug/netstandard2.1/YamangTao.Model.csprojAssemblyReference.cache
YamangTao.Model/obj/Debug/netstandard2.1/YamangTao.Model.dll
YamangTao.Data/bin/Debug/netcoreapp3.1/YamangTao.Core.dll
YamangTao.Data/bin/Debug/netcoreapp3.1/YamangTao.Data.dll
YamangTao.Data/bin/Debug/netcoreapp3.1/YamangTao.Data.pdb
YamangTao.Data/bin/Debug/netcoreapp3.1/YamangTao.Model.Auth.dll
YamangTao.Data/bin/Debug/netcoreapp3.1/YamangTao.Model.dll
YamangTao.Data/obj/project.assets.json
YamangTao.Data/obj/YamangTao.Data.csproj.nuget.dgspec.json
YamangTao.Data/obj/YamangTao.Data.csproj.nuget.g.props
YamangTao.Data/obj/Debug/netcoreapp3.1/YamangTao.Data.assets.cache
YamangTao.Data/obj/Debug/netcoreapp3.1/YamangTao.Data.csproj.FileListAbsolute.txt
YamangTao.Data/obj/Debug/netcoreapp3.1/YamangTao.Data.csprojAssemblyReference.cache
YamangTao.Data/obj/Debug/netcoreapp3.1/YamangTao.Data.dll
YamangTao.Data/obj/Debug/netcoreapp3.1/YamangTao.Data.pdb
YamangTao.Core/bin/Debug/netstandard2.1/YamangTao.Core.dll
YamangTao.Core/obj/project.assets.json
YamangTao.Core/obj/YamangTao.Core.csproj.nuget.dgspec.json
YamangTao.Core/obj/YamangTao.Core.csproj.nuget.g.props
YamangTao.Core/obj/Debug/netstandard2.1/YamangTao.Core.csproj.FileListAbsolute.txt
YamangTao.Core/obj/Debug/netstandard2.1/YamangTao.Core.csprojAssemblyReference.cache
YamangTao.Core/obj/Debug/netstandard2.1/YamangTao.Core.dll
